src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <!-- HTTP Listener Connector -->
    <http:listener-config name="api-httpListenerConfig" host="${api.http.listener.host}" port="${api.http.listener.port}" doc:name="HTTP Listener Configuration" />
    <!-- APIkit Router Configuration -->
    <apikit:config name="api-config" raml="nhr-s-api.raml" consoleEnabled="${api.console.enabled}" doc:name="Router" />
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation=" https://introsde-nhr-ws.herokuapp.com/ws/queryPatient.wsdl" service="QueryPatientPortService" port="QueryPatientPortSoap11" serviceAddress="https://introsde-nhr-ws.herokuapp.com:443/ws" doc:name="Web Service Consumer"/>
    <!-- API Autodiscovery Configuration -->
    <!--     <api-platform-gw:api apiName="${api.autodiscovery.name}" version="${api.autodiscovery.version}" flowRef="api-main" create="false" apikitRef="api-config" doc:name="API Autodiscovery" /> -->
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${api.http.listener.path}" doc:name="HTTP" />
        <flow-ref name="global.get-tracking-id" doc:name="get-tracking-id" />
        <logger message="#[[sessionVars.trackingId]] - #[string:[#[context:serviceName]]] - { &quot;trackingId&quot;: &quot;#[sessionVars.trackingId]&quot;, &quot;request&quot;: &quot;#[message.inboundProperties['http.method']] #[message.inboundProperties['http.request.uri']]&quot; }" level="INFO" doc:name="Audit request" category="AUDIT" />
        <response>
            <choice doc:name="Choice">
                <when expression="#[flowVars.errorRaised != null &amp;&amp; flowVars.errorRaised == true]">
                    <set-payload value="#[payload]" doc:name="Pass Through"/>
                </when>
                <otherwise>
                    <logger message="#[[sessionVars.trackingId]] - #[string:[#[context:serviceName]]] - { &quot;trackingId&quot;: &quot;#[sessionVars.trackingId]&quot;, &quot;response&quot;: &quot;#[message.outboundProperties['http.status']]&quot; }" level="INFO" category="AUDIT" doc:name="Logger (AUDIT)"/>
                </otherwise>
            </choice>
        </response>
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="health-check">
        <http:listener config-ref="api-httpListenerConfig" path="/health-check" doc:name="HTTP" />
        <set-property propertyName="http.status" value="200" doc:name="Set 200 Status Code" />
        <set-variable variableName="response.title" value="Heartbeat" doc:name="Set Response Title" />
        <set-payload value="OK" doc:name="Set Status Code" mimeType="application/java" />
        <flow-ref name="transform-to-jsonapi-data_flow" doc:name="transform-to-jsonapi-data_flow" />
    </flow>
    <flow name="get:/patients:api-config">
    	<logger message="[#[sessionVars.trackingId]] - [#[string:#[context:serviceName]]] - START retrieve patient's info" level="INFO" doc:name="Start"/>
    	<set-variable variableName="taxCode" value="#[message.inboundProperties['http.query.params'].'filter[taxCode]']" doc:name="taxCode" />
        <dw:transform-message doc:name="Set body">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.unitn.it/introsde/nhr/patientWs/queryPatient
---
{
	ns0#getPatientRequest: {
		ns0#taxCode: flowVars.taxCode
	}
}]]></dw:set-payload>
        </dw:transform-message>
		<ws:consumer config-ref="Web_Service_Consumer" doc:name="Web Service Consumer" operation="getPatient"/>
        <dw:transform-message doc:name="Transform response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://www.unitn.it/introsde/nhr/patientWs/queryPatient
---
{
	birthDate: payload.ns0#getPatientResponse.ns0#patient.ns0#birthDate default null,
	entryDate: payload.ns0#getPatientResponse.ns0#patient.ns0#entryDate default null,
	expiryDate: payload.ns0#getPatientResponse.ns0#patient.ns0#expiryDate default null,
	firstName: upper payload.ns0#getPatientResponse.ns0#patient.ns0#firstName default "",
	gender: payload.ns0#getPatientResponse.ns0#patient.ns0#gender default "",
	lastName: upper payload.ns0#getPatientResponse.ns0#patient.ns0#lastName default "",
	nhrCode: payload.ns0#getPatientResponse.ns0#patient.ns0#uuid default "",
	taxCode: upper payload.ns0#getPatientResponse.ns0#patient.ns0#taxCode default flowVars.taxCode
}]]></dw:set-payload>
        </dw:transform-message>
    	
		<logger message="[#[sessionVars.trackingId]] - [#[string:#[context:serviceName]]] - END retrieve patient's info" level="INFO" doc:name="Start"/>
    </flow>
</mule>
